.headerbtm{
    background: #232F3E;
    padding: 16px;
    .headerbtm__wrapper{
        display: flex;
        gap: 16px;
        a{
            font-family: Arial, Helvetica, sans-serif;
            color: #fff;
        }
        .headerbtm__collection{
            display: flex;
            gap: 16px;
        }
    }
}